<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/header') %>
      <main>
        <article class="page">

          <h1>WBDV Library of Findings</h1>

          <div class="entry">
            <h2 id="tools-and-assets">Tools and Assets</h2>
        <ul>
          <li><a href="/winter-2021/cheatsheets/copyright/open-assets">Openly Licensed Assets</a></li>
        </ul>

        <hr />

        <h2 id="javascript">Javascript</h2>
        <h3 id="recommended-resources">Recommended Resources</h3>
        <ul>
          <li><a href="https://www.youtube.com/watch?v=Bv_5Zv5c-Ts">Javascript: the Weird Parts</a>
            <ul>
              <li>This is the first 3.5 hours of a 12 hour Udemy course by Tony Alicea. It’s and oldie but a goodie. Your instructor learned Javascript from this course. There’s a discount link in the video description.</li>
            </ul>
          </li>
          <li>MDN: <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Javascript_basics">Getting Started with Javascript</a></li>
        </ul>

        <h3 id="mdn-textbook">MDN Textbook</h3>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">Javascript - Dynamic client-side scripting</a>
            <ul>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps">Javascript first steps</a>
                <ul>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript">What is Javascript</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/A_first_splash">A first splash into Javascript</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_went_wrong">What went wrong? Troubleshooting JavaScript</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Variables">Storing the information you need - variables</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Math">Basic math in JavaScript — numbers and operators</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Strings">Handling text - strings in Javascript</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Useful_string_methods">Useful string methods</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Arrays">Arrays</a></li>
                </ul>
              </li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks">Javascript building blocks</a>
                <ul>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/conditionals">Making decisions in your code - conditionals</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Looping_code">Looping code</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Functions">Functions - reusable blocks of code</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Build_your_own_function">Build your own function</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Return_values">Function return values</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Events">Introduction to events</a></li>
                </ul>
              </li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects">Introducing objects</a>
                <ul>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Basics">Object basics</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object-oriented_JS">Object oriented Javascript for beginners</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object_prototypes">Object prototypes</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Inheritance">Inheritance in Javascript</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON">Working with JSON data</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object_building_practice">Object building practice</a></li>
                </ul>
              </li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous">Asynchronous Javascript</a>
                <ul>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Concepts">General asynchronous programming concepts</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Introducing">Introducing asynchronous Javascript</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Timeouts_and_intervals">Cooperative asynchronous Javascript: Timeouts and intervals</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Promises">Graceful asynchronous programming with Promises</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await">Making asynchronous programming easier with async and await</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Choosing_the_right_approach">Choosing the right approach</a></li>
                </ul>
              </li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs">Client-side web APIs</a>
                <ul>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Introduction">Introduction to Web APIs</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Manipulating_documents">Manipulating documents</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data">Fetching data from the server</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Third_party_APIs">Third-party APIs</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <hr />

        <h2 id="getting-started">Getting Started</h2>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web">Getting started with Web Development</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">HTML basics</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS basics</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Javascript_basics">Javascript basics</a></li>
        </ul>

        <hr />

        <h2 id="common-questions">Common questions</h2>
        <ul>
          <li>Video: <a href="https://www.youtube.com/watch?v=aHUtMbJw8iA">Why is CSS So Weird?</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto">HTML questions</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto">CSS questions</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Howto">Javascript questions</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions#How_the_Web_works">How the web works</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions#Tools_and_setup">Tools and setup</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions#Design_and_accessibility">Design and accessibility</a></li>
        </ul>

        <hr />

        <h2 id="html">HTML</h2>
        <h3 id="recommended-courses">Recommended Courses</h3>
        <ul>
          <li>Basics
            <ul>
              <li>Free Code Camp: <a href="https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/">Introduction to Basic HTML &amp; HTML5</a></li>
            </ul>
          </li>
        </ul>

        <h3 id="mdn">MDN</h3>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">Structuring the web with HTML</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML">Introduction to HTML</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML">What’s in the head? Metadata in HTML</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals">HTML text fundamentals</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Creating_hyperlinks">Creating hyperlinks</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure">Document and Website structure</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Images_in_HTML">Images in HTML</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Adding_vector_graphics_to_the_Web">Adding vector graphics to the web</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables">HTML Tables</a></li>
        </ul>

        <hr />

        <h2 id="css">CSS</h2>
        <h3 id="recommended-courses-1">Recommended Courses</h3>
        <ul>
          <li>Basics
            <ul>
              <li>Free Code Camp: <a href="https://www.freecodecamp.org/learn/responsive-web-design/basic-css/">Introduction to CSS</a></li>
            </ul>
          </li>
          <li>Flexbox
            <ul>
              <li>Game: <a href="https://flexboxfroggy.com/">Flexbox Froggy</a></li>
              <li>Game: <a href="https://mastery.games/flexboxzombies/">Flexbox Zombies</a></li>
              <li>Course: <a href="https://flexbox.io/">What the Flexbox</a> by Wes Bos (email subscription required)</li>
            </ul>
          </li>
          <li>CSS Grid
            <ul>
              <li>Game: <a href="https://cssgridgarden.com/">CSS Grid Garden</a></li>
            </ul>
          </li>
        </ul>

        <h3 id="mdn-1">MDN</h3>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps">CSS First Steps</a>
            <ul>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/What_is_CSS">What is CSS</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Getting_started">Getting started with CSS</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/How_CSS_is_structured">How CSS is structured</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/How_CSS_works">How CSS works</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Using_your_new_knowledge">Using your new knowledge</a></li>
            </ul>
          </li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks">CSS Building Blocks</a>
            <ul>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_and_inheritance">Cascade and inheritance</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors">CSS selectors</a>
                <ul>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Type_Class_and_ID_Selectors">Type, class, and ID selectors</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Attribute_selectors">Attribute selectors</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Pseudo-classes_and_pseudo-elements">Pseudo-classes and pseudo-elements</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Combinators">Combinators</a></li>
                </ul>
              </li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model">The box model</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Backgrounds_and_borders">Backgrounds and borders</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions">Handling different text directions</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Overflowing_content">Overflowing content</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units">Values and units</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Sizing_items_in_CSS">Sizing items in CSS</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements">Images, media and form elements</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Debugging_CSS">Debugging CSS</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing">Organizing your CSS</a></li>
            </ul>
          </li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text">Styling text</a>
            <ul>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals">Fundamental font and text styling</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists">Styling lists</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links">Styling links</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts">Web fonts</a></li>
            </ul>
          </li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout">CSS layout</a>
            <ul>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Introduction">Introduction to CSS layout</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Normal_Flow">Normal Flow</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox">Flexbox</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids">Grids</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Floats">Floats</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning">Positioning</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design">Responsive design</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries">Beginner’s guide to media queries</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Legacy_Layout_Methods">Legacy layout methods</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Supporting_Older_Browsers">Supporting older browsers</a></li>
            </ul>
          </li>
        </ul>

        <hr />


          </div>
        </article>

      </main>
      <%- include('../partials/footer') %> 
    </div>
  </body>
</html>
