<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/header') %>
      <main>
        <h2 id="week-1-jan-11-15">Week 1: Jan 11-15</h2>
        <ul>
          <li>M: <a href="/winter-2021/setup/orientation/">Orientation and Software Setup</a></li>
          <li>T: DSGN 270 Day 1 - <a href="/winter-2021/dsgn270/ux-accessibility/">Usability and Accessibility</a></li>
          <li>W: DSGN 270 Day 2 - <a href="/winter-2021/dsgn270/visual-hierarchy-design/">Visual Hierarchy in Design</a></li>
          <li>R: CPNT 201 Day 1 - <a href="/winter-2021/cpnt201/files-directories-markdown/">Files, Directories and the Command Line</a></li>
          <li>F: CPNT 201 Day 2 - <a href="/winter-2021/cpnt201/git-github/">Introduction to Git and GitHub</a></li>
        </ul>

        <h2 id="week-2-jan-18-22">Week 2: Jan 18-22</h2>
        <ul>
          <li>M: DSGN 270 Day 3 - <a href="/winter-2021/dsgn270/responsive-web/">Mobile Fundamentals</a></li>
          <li>T: DSGN 270 Day 4 - <a href="/winter-2021/dsgn270/performance-copyright-licensing/">Performance, Copyright and Licensing</a></li>
          <li>W: CPNT 260 Day 1 - <a href="/winter-2021/cpnt260/long-form-text/">Long Form Text</a></li>
          <li>R: CPNT 260 Day 2 - <a href="/winter-2021/cpnt260/typography/">Typography and Text-based Units</a></li>
          <li>F: CPNT 260 Day 3 - <a href="/winter-2021/cpnt260/structure-nav-images/">Page Structure, Navigation and HTML Images</a></li>
        </ul>

        <h2 id="week-3-jan-25-29">Week 3: Jan 25-29</h2>
        <ul>
          <li>M: CPNT 260 Day 4 - <a href="/winter-2021/cpnt260/flexbox/">Flexbox Fundamentals</a></li>
          <li>T: CPNT 260 Day 5 - <a href="/winter-2021/cpnt260/media-queries-icons/">Media Queries and Icons</a></li>
          <li>W: CPNT 260 Day 6 - <a href="/winter-2021/cpnt260/flexbox-patterns/">Flexbox Patterns</a></li>
          <li>R: CPNT 260 Day 7 - <a href="/winter-2021/cpnt260/grid-fundamentals/">Grid Fundamentals</a></li>
          <li>F: CPNT 260 Day 8 - <a href="/winter-2021/cpnt260/card-patterns/">Card Patterns</a></li>
        </ul>

        <h2 id="week-4-feb-1-5">Week 4: Feb 1-5</h2>
        <ul>
          <li>M: CPNT 260 Day 9 - <a href="/winter-2021/cpnt260/hero-sections/">Hero sections</a></li>
          <li>T: CPNT 260 Day 10 - <a href="/winter-2021/cpnt260/hiding-elements/">Hiding Elements</a></li>
          <li>W: CPNT 201 Day 3 - <a href="/winter-2021/cpnt201/image-editing/">Editing Images</a></li>
          <li>R: CPNT 201 Day 4 - <a href="/winter-2021/cpnt201/raster-deep-dive/">Raster Image Deep-dive</a></li>
          <li>F: CPNT 201 Day 5 - <a href="/winter-2021/cpnt201/image-performance/">Optimizing Image Performance</a></li>
        </ul>

        <h2 id="week-5-feb-8-12">Week 5: Feb 8-12</h2>
        <ul>
          <li>M: CPNT 201 Day 6 - <a href="/winter-2021/cpnt201/vector-editors/">Vector Editors</a></li>
          <li>T: CPNT 201 Day 7 - <a href="/winter-2021/cpnt201/svg-fundamentals/">SVG Fundamentals</a></li>
          <li>W: CPNT 262 Day 1 - <a href="/winter-2021/cpnt262/javascript-introduction/">Hello Dobby</a></li>
          <li>R: CPNT 262 Day 2 - <a href="/winter-2021/cpnt262/variables-numbers-math/">Primitive types and operators</a></li>
          <li>F: CPNT 262 Day 3 - <a href="/winter-2021/cpnt262/boolean-comparison-conditionals/">Booleans, comparison operators and conditionals</a></li>
        </ul>

        <h2 id="week-6-feb-15-19">Week 6: Feb 15-19</h2>
        <ul>
          <li><em>M: Family Day</em></li>
          <li>T: CPNT 262 Day 4 - <a href="/winter-2021/cpnt262/strings-methods/">Strings and string methods</a></li>
          <li>W: CPNT 262 Day 5 - <a href="/winter-2021/cpnt262/array-fundamentals/">Array fundamentals</a></li>
          <li>R: CPNT 262 Day 6 - <a href="/winter-2021/cpnt262/array-methods-objects/">Array methods and checkboxes</a></li>
          <li>F: CPNT 262 Day 7 - <a href="/winter-2021/cpnt262/objects-review/">Objects and Review</a></li>
        </ul>

        <h2 id="week-7-feb-22-26">Week 7: Feb 22-26</h2>
        <ul>
          <li>M: CPNT 264 Day 1 - Career and Consulting Essentials</li>
          <li>T: CPNT 262 Day 8 - <a href="/winter-2021/cpnt262/function-fundamentals/">Function fundamentals</a></li>
          <li>W: CPNT 262 Day 9 - <a href="/winter-2021/cpnt262/events-callbacks/">Callbacks and <code class="language-plaintext highlighter-rouge">Element.addEventListener()</code></a></li>
          <li>R: CPNT 262 Day 10 - <a href="/winter-2021/cpnt262/array-loops/">Loops with <code class="language-plaintext highlighter-rouge">Array.forEach()</code></a></li>
          <li>F: CPNT 262 Day 11 - <a href="/winter-2021/cpnt262/methods-review/">Functions as object methods</a></li>
        </ul>

        <h2 id="week-8-mar-1-5">Week 8: Mar 1-5</h2>
        <ul>
          <li>M: CPNT 264 Day 2 - Career and Consulting Essentials</li>
          <li>T: CPNT 201 Day 8 - <a href="/winter-2021/cpnt201/git-gh-part-2/">Git and GitHub, Part 2</a></li>
          <li>W: CPNT 201 Day 9 - <a href="/winter-2021/cpnt201/sass-minification/">Sass and minification</a></li>
          <li>R: CPNT 262 Day 12 - <a href="/winter-2021/cpnt262/scope-async/">Scope and the Execution Stack</a></li>
          <li>F: CPNT 262 Day 13 - <a href="/winter-2021/cpnt262/fetch-promises/"><code class="language-plaintext highlighter-rouge">fetch()</code>, Promises and Asynchronous JS</a></li>
        </ul>

        <h2 id="week-9-mar-8-12">Week 9: Mar 8-12</h2>
        <ul>
          <li>M: CPNT 262 Day 14 - <a href="/winter-2021/cpnt262/node-modules/">Node and Node Modules</a></li>
          <li>T: CPNT 262 Day 15 - <a href="/winter-2021/cpnt262/npm-packages/">npm</a></li>
          <li>W: CPNT 262 Day 16 - <a href="/winter-2021/cpnt262/express-fundamentals/">Express Fundamentals</a></li>
          <li>R: CPNT 262 Day 17 - <a href="/winter-2021/cpnt262/json-routes/">JSON Routes</a></li>
          <li>F: CPNT 262 Day 18 - <a href="/winter-2021/cpnt262/nodemon-express-router/"><code class="language-plaintext highlighter-rouge">nodemon</code> and <code class="language-plaintext highlighter-rouge">express.Router</code></a></li>
        </ul>

        <h2 id="week-10-mar-15-19">Week 10: Mar 15-19</h2>
        <ul>
          <li>M: CPNT 262 Day 19 - <a href="/winter-2021/cpnt262/view-engines/">View Engines and EJS</a></li>
          <li>W: CPNT 262 Day 21 - Mongoose and MongoDB Atlas</li>
          <li>T: CPNT 262 Day 20 - Route Parameters</li>
          <li>R: CPNT 262 Day 22 - POST requests</li>
          <li>F: CPNT 264 Day 3 - Career and Consulting Essentials</li>
        </ul>

        <h2 id="week-11-mar-22-26">Week 11: Mar 22-26</h2>
        <ul>
          <li>M: CPLN 240 - Guest Speaker Day</li>
          <li>T: CPNT 264 Day 4 - Career and Consulting Essentials</li>
          <li>W: CPNT 200 Day 1 - Content Management Systems</li>
          <li>R: CPNT 200 Day 2</li>
          <li>F: CPNT 200 Day 3</li>
        </ul>

        <h2 id="week-12-mar-29---apr-2">Week 12: Mar 29 - Apr 2</h2>
        <ul>
          <li>M: CPNT 200 Day 4</li>
          <li>T: CPNT 200 Day 5</li>
          <li>W: CPNT 200 Day 6</li>
          <li>R: CPNT 200 Day 7</li>
          <li><em>F: Good Friday</em></li>
        </ul>

        <h2 id="week-13-apr-5-9">Week 13: Apr 5-9</h2>
        <ul>
          <li><em>M: Easter Monday</em></li>
          <li>T: CPNT 264 Day 5 - Career and Consulting Essentials</li>
          <li>W: DSGN 270 Day 5 - Social Tools</li>
          <li>R: DSGN 270 Day 6</li>
          <li>F: DSGN 270 Day 7</li>
        </ul>

        <h2 id="week-14-apr-12-16">Week 14: Apr 12-16</h2>
        <ul>
          <li>M: CPNT 265 Day 1 - Business of Web Development</li>
          <li>T: CPNT 265 Day 2</li>
          <li>W: CPNT 265 Day 3</li>
          <li>R: CPNT 265 Day 4</li>
          <li>F: CPNT 265 Day 5</li>
        </ul>

        <h2 id="week-15-apr-19-23">Week 15: Apr 19-23</h2>
        <ul>
          <li>M: CPNT 265 Day 6</li>
          <li>T: CPNT 265 Day 7</li>
          <li>W: CPNT 265 Day 8</li>
          <li>R: CPNT 265 Day 9</li>
          <li>F: Final Presentations</li>
        </ul>

      </main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
