<nav class="primary">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://sait-ca.zoom.us/j/89935602857">Zoom</a></li>
    <li><a href="library">Library</a></li>
    <li><a href="exercises">Exercises</a></li>
  </ul>
</nav>
<header class="page-header">
  <img class="sait-logo" src="assets/images/sait-logo.png" alt="SAIT Logo">
  <div>
    <p class="site-name"><%= siteTitle %></p>
    <p class="tagline"><%= tagline %></p>
  </div>
</header>